/* color theme */
/* #228be6 #f781a4 */
/* google font */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Krub", sans-serif;
  font-size: 62.5%;
}
.main-header {
  font-size: 3.5rem;
  font-weight: bold;
}
.margin-bottom {
  margin-bottom: 1.2rem;
}
.nav-mobile {
  display: none;
}

/* Scoll to top */
.top-btn {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  border: none;
  cursor: pointer;
  padding: 1.2rem;
  border-radius: 50%;
  background: none;
}
.top-icon {
  color: #212529;
  font-size: 4.5rem;
}
.top-icon:hover {
  color: #f1f3f5;
}
/* Cover */
.cover-section {
  width: 100%;
  background-color: #228be6;
  padding: 5.6rem 1.2rem;
}
.cover-text-box {
  text-align: center;
  margin-top: 5rem;
}
.cover-text-box h1 {
  font-size: 5rem;
  margin-bottom: 1.2rem;
}
.cover-text-box p {
  font-size: 3.5rem;
  margin-bottom: 8rem;
}
.cover-text-box button {
  font-size: 3rem;
  font-family: "Krub", sans-serif;
  padding: 1.5rem 2.5rem;
  border-radius: 1rem;
  background-color: #da77f2;
}
.cover-text-box button:hover {
  transition: all 0.3s;
  background-color: #ae3ec9;
}
.cover-img {
  max-width: 100%;
  border-radius: 50%;
}

/* About */
.about-section {
  background-color: #f781a4;
  border-bottom: 2px solid #f06595;
  padding: 5.6rem 1.2rem;
}
.about-container {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}
.about-img {
  max-width: 80%;
  margin-left: 3rem;
  border-radius: 5px;
}
.contact-icon {
  margin-right: 5px;
}
.about-list {
  line-height: 1.2;
  list-style: none;
  font-size: 1.6rem;
}
.about-list:nth-child(3) {
  margin-bottom: 3.2rem;
}

/* Certificate */
.cerf-section {
  padding-top: 2rem;
  background-color: #f781a4;
}
.cerf-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.certificate-title {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.certificate {
  max-width: 50%;
  border: 2rem;
  border-radius: 2px;
}
